eval "$(dbus-launch --sh-syntax --exit-with-session)"
export DefaultIMModule=uim
export XMODIFIERS=@im=uim
export GTK_IM_MODULE=uim
export QT_IM_MODULE=uim
export XKB_DEFAULT_LAYOUT=jp
export XDG_RUNTIME_DIR=/run/user/1000
export XDG_CONFIG_DIR=~/.config
eval "$(dbus-launch --sh-syntax --exit-with-session)"
uim-xim --async &
uim-toolbar-gtk3-systray &
xmodmap ~/.Xmodmap
#xmodmap -e 'keycode 255 = space'; xmodmap -e 'keycode 65 = Shift_L'; xcape -e '#65=space' 
